<!doctype html>
<html class="r" ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<!--[if IE 7]><script>document.documentElement.className += " ie ie7";</script><![endif]-->
	<!--[if IE 8]><script>document.documentElement.className += " ie ie8";</script><![endif]-->
	<!--[if IE 9]><script>document.documentElement.className += " ie ie9";</script><![endif]-->
	<!--[if lte IE 9]><script src='http://c.mfcreative.com/js/html5shiv.js'></script><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{title}}</title>
	<meta name="description" content=" " />
<!--    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<!--    <script src="/lib/js/mboxes/mbox.js"></script>-->
	<link rel="stylesheet" href="/lib/css/ancestry-core.css" />
    <link rel="stylesheet" href="/lib/css/svw-body.css" />
    <link rel="stylesheet" href="/lib/css/tao.css" />
    <script src="/lib/js/jquery.js"></script>
</head>
<body>
	<div id="HeaderRegion"></div>
    <div id="ContentRegion" class="dashboard">
        {{{body}}}
        
        <script>
            $.getJSON('/lib/json/master.json', function(json) {
                window.onsite = json.onsite;
                console.log('Assets Count : ' + Object.keys(onsite.assets).length);
            });
        </script>
    </div>
	<div id="FooterRegion" class="footer2"></div>

<script src="/lib/js/ancestry-core.js"></script>
<script src="/lib/js/tao.js"></script>
</body>
</html>