#ContentRegion {
    position: relative;
    display: block;
    width: 98%;
    max-width: 1080px;
    padding: 40px 0;
    margin: 0 auto;
    }

button {
    padding: 6px 12px;
    margin: 0 6px 8px 0;
    }

input {
    margin: 0 6px 8px 0;
    }