/********************************************************/
/******************** GLOBAL CHANGES ********************/
/********************************************************/
.dashboard .con {
    padding:5px 8px;
    margin-top: 2px!important;
    }


/********************************************************/
/********************** ACCORDIONS **********************/
/********************************************************/
.accordionBtn {
    cursor:pointer;
    }

/********************************************************/
/******************** FILTER SECTION ********************/
/********************************************************/
#filtersWrapper {
    position:relative;
    display:inline-block;
    max-width:calc(100% - 100px);
    }

#filterTabsContainer {
    position:relative;
    display:inline-block;
    overflow:hidden;
    width:45px;
    height:45px;
/*    background-color:rgba(0,0,0,0.12);*/
    transition:all 0.5s;
    vertical-align: middle;
    }
#filterTabsContainer.showTabs {
    width:250px;
    }

#filterTabsSubContainer {
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:250px;
    }

#showHideFilters {
    position:relative;
    display:block;
    float:right;
    width:45px;
    height:45px;
    background:transparent;
    border:none;
    transition:all 0.2s;
    }
#showHideFilters:before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:45px;
    height:45px;
    background-image: url('/lib/images/icons/icon-filter.png');
    background-size: 85%;
    background-position:center center;
    background-repeat:no-repeat;
    transition:all 0.5s;
    }
#filterTabsContainer.showTabs #showHideFilters:before {
    transform:rotate(-90deg);
    }

.filterTab {
    display:block;
    float:left;
    background-color: #eee;
    border: none;
    font-size:25px;
    line-height:25px;
    padding:10px 14px;
    }
.filterTab.showing {
    background-color: #d1d1d1;
    }

#appliedFiltersContainer {
    position:relative;
    display:inline-block;
/*    min-height:45px;*/
    }

.appliedFilterBtn {
    position:relative;
    display:inline-block;
    background: #eee;
    border: solid 2px #e0e0e0;
    border-width: 0 0 0 2px;
    line-height: 14px;
    font-size: 14px;
    padding: 10px 10px 10px 30px;
    }
.appliedFilterBtn:before {
    content:'x';
    position:absolute;
    top:0px;
    left:6px;
    display:block;
    color:#e0e0e0;
    font-size: 28px;
    line-height:28px;
    }
.appliedFilterBtn:hover:before {
    color:#bebebe;
    }


#filterBtnsContainersContainer {
    display:none;
    margin:10px 0px;
    }
#filterBtnsContainersContainer.showing {
    display:block;
    }

.filterBtnsContainer {
    display:none;
    }
.filterBtnsContainer.showing {
    display:block;
    }

.filterBtn {
    background-color: #eee;
    border: none;
    }
.filterBtn.active {
    background-color: #d1d1d1;
    }

#assetsContainer {
    position:relative;
    display:block;
    width:100%;
    }

.assetListing {
    display:block;
    }

.con {
    margin-top:10px!important;
    }

/********************************************************/
/********************* ASSET COUNT **********************/
/********************************************************/

#assetCountWrapper {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 0;
    width: 100px;
    text-align: center;
    font-size: 14px;
    line-height: 100%;
    }

.assetCount {
    display: block;
    font-size: 32px;
    line-height: 36px;
    }

/********************************************************/
/********************* ASSET STYLES *********************/
/********************************************************/
.assetNameTarget {
    font-weight:bold;
    }

.editThisAsset {
    background-color: transparent;
    background-image: url(/lib/images/icons/icon-edit.svg);
    background-repeat: no-repeat;
    background-size: 61%;
    background-position: center center;
    border: none;
    margin: 0 -5px 0 0;
    }

.assetDisplayUrl {
    background-color: transparent;
    background-image: url(/lib/images/icons/icon-open-page.png);
    background-repeat: no-repeat;
    background-size: 61%;
    background-position: center center;
    }

.rightFloater {
    position:relative;
    display:block;
    float:right;
    opacity:0.23;
    width:25px;
    height:25px;
    overflow:hidden;
    }
.assetListing:hover .rightFloater {
    opacity:0.61;
    }
.assetListing:hover .rightFloater:hover {
    opacity:1;
    }

.assetNameTarget {
    margin:0;
    }

.assetDetails {
    display:none;
    margin:10px 0px;
    }

.assetDetailContainer {
    display:block;
    padding:5px;
    font-size:85%;
    }

.assetDetailContainer.targeting {
    padding:10px;
    font-size:100%;
    }

.containedName {
    display:inline-block;
    width:150px;
    text-align:right;
    vertical-align:top;
    padding:0 5px 0 0;
    font-weight:bold;
    }

.assetDetailContainer.targeting > h6 {
    font-weight:bold;
    margin:5px 0 10px 0;
    }
.assetDetailContainer.targeting > h6:after {
    content:" (Names Showing)";
    font-weight:normal;
    font-size:85%;
    }
.assetDetailContainer.targeting > h6.details:after {
    content:" (Details Showing)";
    }

.containedValue {
    display:inline-block;
    width:calc(100% - 220px);
    }

.analyticsPageName {
    display: block;
    float: right;
    }




/********************************************************/
/******************* TARGETS SECTIONS *******************/
/********************************************************/
.targetingLayoutChange {
    z-index: 10;
    position:relative;
    float: right;
    display:inline-block;
    color:#1b88b0;
    font-size:85%;
    background:transparent;
    border:none;
    }
.targetingLayoutChange:before {
    content:"Change to Details"
    }
.targetingLayoutChange.details:before {
    content:"Change to Names"
    }

.targetElem {
    position: relative;
    }
.targetElem:not(.first) .targetElem {
    display:none;
    }
.targetElem.details .targetElem {
    display:block;
    }
.targetElem:not(.targetSingle):not(.targetNameProvided),
.targetElem.targetSingle.first > .targetElem.targetSingle,
.targetElem.targetSingle.first > .targetElem.targetNameProvided,
.targetElem.details .targetElem.targetNameProvided:not(.targetSingle),
.targetElem.details.targetNameProvided {
    padding: 2px;
    border-radius: 6px;
    background-color:rgba(0,0,0,0.03);
    border: solid 1px rgba(0,0,0,0);
    }
.targetElem:not(.targetSingle):not(.targetNameProvided).OR,
.targetElem.targetSingle.first > .targetElem.targetSingle.OR,
.targetElem.details .targetElem.targetNameProvided.OR,
.targetElem.details.targetNameProvided.OR,
.targetElem:not(.targetSingle):not(.targetNameProvided).AND,
.targetElem.targetSingle.first > .targetElem.targetSingle.AND,
.targetElem.details .targetElem.targetNameProvided.AND,
.targetElem.details.targetNameProvided.AND {
    padding: 2px 2px 2px 30px;
    }
.targetElem:not(.targetSingle):not(.targetNameProvided):not(.targetNameProvided).OR:before,
.targetElem.targetSingle.first > .targetElem.targetSingle.OR:before,
.targetElem.details .targetElem.targetNameProvided.OR:before,
.targetElem.details.targetNameProvided.OR:before,
.targetElem:not(.targetSingle):not(.targetNameProvided).AND:before,
.targetElem.targetSingle.first > .targetElem.targetSingle.AND:before,
.targetElem.details .targetElem.targetNameProvided.AND:before,
.targetElem.details.targetNameProvided.AND:before {
    content: "OR";
    position: absolute;
    left: 0px;
    top: calc(50% - 15px);
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: rotate(-90deg);
    }
.targetElem:not(.targetSingle):not(.targetNameProvided).AND:before,
.targetElem.targetSingle.first > .targetElem.targetSingle.AND:before,
.targetElem.details .targetElem.targetNameProvided.AND:before,
.targetElem.details.targetNameProvided.AND:before {
    content:"AND";
    }
.targetElem:not(.targetSingle):not(.targetNameProvided):hover,
.targetElem.targetSingle.first > .targetElem.targetSingle:hover,
.targetElem.details .targetElem.targetNameProvided:not(.targetSingle):hover,
.targetElem.details.targetNameProvided:hover{
    background-color:rgba(0,0,0,0.06);
    border-color: rgba(0,0,0,0.12);
    }
.targetElem:hover:before {
    font-weight:bold;
    }

.targetName,
.targetDetail {
    position: relative;
    display: block;
    padding: 3px 6px;
    }



.targetName {
    display:block;
    }
.targetElem.details .targetName {
    display:none;
    }

.targetDetail {
    display:none;
    }
.targetElem.details .targetDetail {
    display:block;
    }


/********************************************************/
/****************** ADD/MODIFY SECTIONS *****************/
/********************************************************/

#onsiteAssetForm {
    position:relative;
    display:block;
    overflow:hidden;
    width:100%;
    }

.formField {
    position:relative;
    display:block;
    width:100%;
    min-height: 45px;
    }
/*
.formField:hover {
    background-color: #eee;
    }
*/

.formField > div {
    position:relative;
    display:inline-block;
    vertical-align:top;
    padding: 5px;
    }

.formDescription {
    font-weight:bold;
    width:250px;
    }

.formInputArea {
    width:calc(100% - 260px);
    }

.formInputArea input {
    min-width:768px;
    }

#onsiteAssetForm input[type="submit"] {
    position:relative;
    display:block;
    float:right;
    padding:12px;
    font-size:21px;
    }

.targetType .accordionBtn {
    display:block;
    background-color:rgba(0,0,0,0.03);
    padding:5px;
    border:none;
    margin:2px;
    }

.targetType .accordionContent {
    display:none;
    padding: 0 0 0 15px;
    }
