<h1>Add Onsite Asset Form</h1>
<br />
<form id="onsiteAssetForm" onsubmit="createNewAsset(event);">
<!--
    <div class="formField">
        <div class="formDescription">
            Page Name (Custom, not Required)
        </div>
        <div class="formInputArea">
            <input type="text" name="pageName" placeholder="HOLP" value="Deny" />
        </div>
    </div>
-->
    <div class="formField">
        <div class="formDescription">
            Place (location on site)
        </div>
        <div class="formInputArea">
            <select name="place">
                {{#each onsite.places}}<option value="{{@key}}">{{this.name}}</option>{{/each}}
            </select>
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Display URL
        </div>
        <div class="formInputArea">
            <input type="text" name="displayUrlPath" placeholder="https://www.ancestry.com/cs/offers/subscribe" value="https://www.ancestry.co.uk/order/express/O-24400#/complete/" />
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Top-Level Geo
        </div>
        <div class="formInputArea">
            <select name="geo">
                {{#each onsite.geos}}<option value="{{@key}}">{{this.name}}</option>{{/each}}
            </select>
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Category
        </div>
        <div class="formInputArea">
            <select name="category">
                {{#each onsite.categories}}<option value="{{@key}}">{{this.name}}</option>{{/each}}
            </select>
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Access Tool
        </div>
        <div class="formInputArea">
            <select name="accessTool">
                {{#each onsite.accessTools}}<option value="{{@key}}">{{this.name}}</option>{{/each}}
            </select>
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Additional Tags
        </div>
        <div class="formInputArea">
            <input type="text" name="tags" placeholder="Separate multiple with ',' e.g., 'down, in progress, scheduled'" />
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Path to asset in the Tool
        </div>
        <div class="formInputArea">
            <input type="text" name="accessPath" placeholder="/offers/SubscriptionPages/Subscribe/Subscribe-Endpoint/Subscribe (en_US)/Variants/winbacks" value="/spots2/Phoenix-Spots/Confirmation-Call-To-Action/Endpoints/ConfirmationCta.wp (en_US)/Translations/ConfirmCta.wp-(en-GB)" />
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Current Omniture Page Name
        </div>
        <div class="formInputArea">
            <input type="text" name="omniturePageName" placeholder="ancestry us : offer : hard offer : cms" value="NA" />
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Applicable Campaigns
        </div>
        <div class="formInputArea">
            {{#each onsite.campaigns}}<input type="checkbox" name="campaigns" value="{{@key}}"> {{this.name}}<br />{{/each}}
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Targets/Segments Connector
        </div>
        <div class="formInputArea">
            <select name="targetsConnector">
                <option value="AND">AND</option>
                <option value="OR">OR</option>
            </select>
        </div>
    </div>
    <div class="formField">
        <div class="formDescription">
            Applicable Targets/Segments
        </div>
        <div class="formInputArea">
            {{#each onsite.targetTypes}}
            <div class="targetType">
                <span class="accordionBtn" accordion-tag="targetType{{@key}}">{{this.name}}</span>
                <div class="accordionContent" accordion-tag="targetType{{@key}}">
                    {{{targetsByType @key ../onsite.targets}}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <input type="submit" value="Create Asset" />
</form>
<script>
    function simplifyString(str,connector) {
        var c = typeof connector === 'undefined' ? '-' : connector;
        return str.replace(/[^\w]/gi, c).replace(/-{,}/g, c);
    }
    function expressTargets(targArr) {
        var connector = ' <-- ' + targArr[0] + '--> ',
            tA = targArr.slice(1),
            logicText = '[';
        for (var tar in tA) {
            t = tA[tar];
            if (typeof t === 'object') {
                logicText += expressTargets(t);
            } else {
                console.log(parseFloat(tar), tA.length - 1, parseFloat(tar) === (tA.length - 1));
                if (parseFloat(tar) === (tA.length - 1)) {
                    connector = '';
                }
                logicText += t + connector;
            };
        }
        logicText += ']';
        return logicText;
    };
    
    // Create New Asset Form Output
    function createAssetJsonFromForm() {
        var targetsChecked = $('#onsiteAssetForm [name="targets"]:checked'),
            targetsArr = [
            $('#onsiteAssetForm [name="targetsConnector"]').val()
        ];
        if (targetsChecked.length === 0) { 
            alert('At least one target/segment must be selected.')
        } else {
            for (i = 0; i < targetsChecked.length; i++) {
                targetsArr.push(targetsChecked.eq(i).val());
            };
            var nA = {
                "place": $('#onsiteAssetForm [name="place"]').val(),
                "displayUrl": $('#onsiteAssetForm [name="displayUrlPath"]').val(),
                "geo": $('#onsiteAssetForm [name="geo"]').val(),
                "category": $('#onsiteAssetForm [name="category"]').val(),
                "accessTool": $('#onsiteAssetForm [name="accessTool"]').val(),
                "accessPath": $('#onsiteAssetForm [name="accessPath"]').val(),
                "tags": $('#onsiteAssetForm [name="tags"]').val(),
                "omniturePageName": $('#onsiteAssetForm [name="omniturePageName"]').val(),
                "targets": targetsArr
            };
            // Place the assets accordingly
//            nA.access[$('#onsiteAssetForm [name="accessTool"]').val()] = $('#onsiteAssetForm [name="accessPath"]').val();
            // Update tags to include page name, geo, category, and campaigns
            var fT = nA.tags !== "" ? nA.tags.replace(/, /g,',').split(',') : [],
                lPN = nA.place,
                geoCat = nA.geo + ' ' + lPN;
            if (fT.indexOf(nA.geo) === -1) { fT.push(nA.geo); };
            if (fT.indexOf(nA.category) === -1) { fT.push(nA.category); };
            if (fT.indexOf(lPN) === -1) { fT.push(lPN); };
            if (fT.indexOf(geoCat) === -1) { fT.push(geoCat); };
            var campaignsChecked = $('#onsiteAssetForm [name="campaigns"]:checked'),
                campaignsArr = [];
            for (i = 0; i < campaignsChecked.length; i++) {
                campaignsArr.push(campaignsChecked.eq(i).val());
                fT.push(campaignsChecked.eq(i).val());
            };
            nA.campaigns = campaignsArr;
            nA.tags = fT;
            // Create Unique Asset Name and ID
            var uN1 = nA.geo.toUpperCase() + ' ' + onsite.places[nA.place].name,
                uN2 = '';
            for (i = 1; i < nA.targets.length; i++) {
                var c = (i + 1) === nA.targets.length ? '' : ' and ';
                uN2 += onsite.targets[nA.targets[i]].name + c;
            };
            nA.name = uN1 + ' for ' + uN2;
            uID = simplifyString(uN1,'') + '_' + simplifyString(onsite.accessTools[nA.accessTool].name,'') + '_' + simplifyString(uN2.replace(/ and /g,''),'');
            var newAsset = {};
            newAsset[uID] = nA;
            if (typeof onsite.assets[uID] !== "undefined") {
                alert("This is a duplicate asset and was not added.");
                return "This is a duplicate asset and was not added.";
            } else {
                return [uID,nA];
            };
        };
    };
    function createNewAsset(e) {
        e.preventDefault();
        var assetObj = createAssetJsonFromForm();
        if (typeof assetObj === 'object') {
            var newAsset = {};
            newAsset[assetObj[0]] = assetObj[1];
            console.log(assetObj[1]);
            console.log(assetObj[0]);
            $.ajax({
                url: '/api/assets/create',
                type: 'POST',
                data: JSON.stringify(newAsset),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(msg) {
                    onsite.assets[assetObj[0]] = assetObj[1]
                    console.log('Success!',msg)
                }
            });
        };
    };
    $.getJSON('/lib/json/master.json', function(json) {
        window.onsite = json.onsite;
    });
</script>