<div id="filtersWrapper">
    <div id="filterTabsContainer">
        <div id="filterTabsSubContainer">
            <button id="showHideFilters"></button>
            <button class="filterTab" filter-button-tabid="geos">Geos</button>
    <!--        <button class="filterTab" filter-button-tabid="categories">Categories</button>-->
            <button class="filterTab" filter-button-tabid="places">Places</button>
    <!--        <button class="filterTab" filter-button-tabid="campaigns">Campaigns</button>-->
        </div>
    </div>
    <div id="appliedFiltersContainer"></div>
    <style id="applyFilters"></style>
    <div id="filterBtnsContainersContainer">
        <div id="geoFilters" class="filterBtnsContainer" filter-group-tabid="geos">
            {{#each onsite.geos}}
            <button class="filterBtn geoBtn" tag-type="geo" tagid="{{@key}}">{{this.name}}</button>
            {{/each}}
        </div>
    <!--
        <div id="categoryFilters" class="filterBtnsContainer" filter-group-tabid="categories">
            {{#each onsite.categories}}
            <button class="filterBtn categoryBtn" tag-type="category" tagid="{{@key}}">{{this.name}}</button>
            {{/each}}
        </div>
    -->
        <div id="placeFilters" class="filterBtnsContainer" filter-group-tabid="places">
            {{#each onsite.places}}
            <button class="filterBtn placeBtn" tag-type="place" tagid="{{@key}}">{{this.name}}</button>
            {{/each}}
        </div>
    <!--
        <div id="campaignFilters" class="filterBtnsContainer" filter-group-tabid="campaigns">
            {{#each onsite.campaigns}}
            <button class="filterBtn campaignBtn" tag-type="campaign" tagid="{{@key}}">{{this.name}}</button>
            {{/each}}
        </div>
    -->
    </div>
</div>
<div id="assetCountWrapper">
    Visible Assets
    <span class="assetCount"></span>
</div>
<div id="assetsContainer">
    {{#each onsite.assets}}
    <div class="assetListing con" asset-id= "{{@key}}"asset-tags="{{#each this.tags}}:{{this}}{{/each}}">
        <div class="assetTopWrap">
            {{#if ../user.valid}}<a class="deleteThisAsset rightFloater" href="/assets/update/{{@key}}" target="_blank"></a>{{/if}}
            {{#if ../user.valid}}<a class="editThisAsset rightFloater" href="/assets/update/{{@key}}" target="_blank"></a>{{/if}}
            <a class="assetDisplayUrl rightFloater" href="{{this.displayUrl}}" title="{{this.displayUrl}}" target="_blank"></a>
            <h4 class="assetNameTarget accordionBtn" accordion-tag="{{@key}}">{{uppercase this.geo}} {{nameFromId this.place ../onsite.places}} &mdash; {{targetNames this.targets ../onsite.targets}}</h4>
        </div>
        <div class="assetDetails accordionContent" accordion-tag="{{@key}}">
            <div class="assetDetailContainer">
                <span class="containedName">Analytics Page Name: </span>
                <span class="containedValue">{{this.omniturePageName}}</span>
            </div>
            <div class="assetDetailContainer">
                <span class="containedName">{{nameFromId this.accessTool ../onsite.accessTools}}: </span>
                <span class="containedValue">{{this.accessPath}}</span>
            </div>
            <div class="assetDetailContainer targeting">
                <h6>Targeting </h6><button class="targetingLayoutChange"></button>
                {{{expressTargetElements this.targets ../onsite.targets}}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
<script>
    function expressTargetElements(targArr,targetsObj){
            function wrapContentElem(tag,primaryClass,classes,content) {
                var wrapElem = '<' + tag + ' class="' + primaryClass;
                for (var c in classes) {
                    wrapElem += ' ' + classes[c];
                };
                wrapElem += '">' + content + '</' + tag + '>';
                return wrapElem;
            };
            function propogateTargets(tA,tO,tN) {
                var tObj = {
                    "name": tN ? tN : '',
                    "connector": tA.length > 2 ? ' ' + tA[0] : '',
                    "targets": tA.slice(1)
                };
//                console.log(tObj.targets);
                for (var cT in tObj.targets) {
                    var c = tObj.targets[cT];
                    if (tO[c]) {
                        var tarDet = tO[c];
//                        console.log('found target in object: ', tarDet);
                        tObj.targets[cT] = propogateTargets(tarDet.target,tO,tarDet.name);
                    } else if (typeof c === "object") {
//                    } else {
//                        console.log(typeof c, c);
//                        console.log('empty target object: ', c);
                        tObj.targets[cT] = propogateTargets(c,tO);
                    };
                };
                return tObj;
            };
            function createTargetElements(tWObj) {
                var elem = '',
                    twoObjTest = 0;
                if (tWObj.targets === 'undefined') {
//                    console.log(tWObj);
                    elem += wrapContentElem('div','targetDetail',[],tWObj);
                    twoObjTest++;
                } else {
                    for (var target in tWObj.targets) {
                        var newTWObj = tWObj.targets[target];
//                        console.log(tWObj,newTWObj,typeof newTWObj);
                        if (typeof newTWObj === 'string') {
                            elem += wrapContentElem('div','targetDetail',[],newTWObj);
                        } else {
//                            console.log(newTWObj);
                            elem += createTargetElements(newTWObj);
//                            console.log(elem);
                        };
                        twoObjTest++;
//                        createTargetElements(newTWObj);
                    };
                };
                if (tWObj.name && twoObjTest > 1) {
                    elem = wrapContentElem('div','targetElem',[tWObj.connector],'multiple', wrapContentElem('div','targetName',[],tWObj.name) + elem);
                } else if (tWObj.name) {
                    elem = wrapContentElem('div','targetElem',[tWObj.connector],elem);
                } else if (twoObjTest > 1) {
                    elem = wrapContentElem('div','targetElem',[tWObj.connector,'multiple', 'targetNoName'],elem);
                };
//                console.log(tWObj,elem);
                return elem;
            };
            var tWObj = propogateTargets(targArr,targetsObj);
            return createTargetElements(tWObj);
        };
    
    function updateVisibleCount() {
        var visCount = $('.assetListing:visible').length.toString();
        $('.assetCount').each(function(){
            $(this).text(visCount);
        });
    };
    
    function applyFilterStyles() {
        var filterStyles = '',
            appliedFilterElems = '',
            activeFilters = $('.filterBtn.active'),
            userQuery = queryRegExp('user'),
            activeQuery = userQuery !== 0 ? '?user=' + userQuery : '';
        if (activeFilters.length > 0) {
            filterStyles = '\
                .assetListing {\
                    display:none;\
                    }\
                .assetListing';
            for (i = 0; i < activeFilters.length; i++) {
                var c = i < (activeFilters.length - 1) ? ',' : '',
                    tF = activeFilters.eq(i),
                    tag = tF.attr('tagid'),
                    text = tF.text(),
                    qCon = activeQuery.indexOf('?') === -1 ? '?' : '&';
                filterStyles += '[asset-tags*=":' + tag + ':"]';
                appliedFilterElems += '<button class="appliedFilterBtn" applied-filter-tagid="' + tag + '">' + text + '</button>';
                activeQuery += qCon + tF.attr('tag-type') + '=' + tag;
            }
            filterStyles += ' {\
                    display:block;\
                    }';
        };
        window.history.pushState({},"",location.pathname + activeQuery);
        $('#applyFilters').html(filterStyles);
        $('#appliedFiltersContainer').html(appliedFilterElems);
        updateVisibleCount();
    };
    
    function queryRegExp(n) {
        qr = new RegExp(n + '=([^& ]+)','');
        var thisQ = location.search.match(qr);
        return thisQ ? thisQ[1] : 0;
    };
    $(function(){
        // Manage filter visibility
        $('#showHideFilters').click(function(){
            if ($('#filterTabsContainer').hasClass('showTabs')){
                $('#filterTabsContainer').removeClass('showTabs');
                $('#filterBtnsContainersContainer').removeClass('showing');
            } else {
                $('#filterTabsContainer').addClass('showTabs');
                $('#filterBtnsContainersContainer').addClass('showing');
            };
        });
        $('.filterTab').click(function(){
            var tabid = $(this).attr('filter-button-tabid');
            $('.filterBtnsContainer.showing').removeClass('showing');
            if ($(this).hasClass('showing')){
                $(this).removeClass('showing');
            } else {
                $('.filterTab.showing').removeClass('showing');
                $(this).addClass('showing');
                $('.filterBtnsContainer[filter-group-tabid="' + tabid + '"]').addClass('showing');
            };
        });
        $('#appliedFiltersContainer').on('click','.appliedFilterBtn', function(){
            var tagid = $(this).attr('applied-filter-tagid');
            $('.filterBtn[tagid="' + tagid + '"]').removeClass('active');
            applyFilterStyles();
        });
        $('.filterBtn').click(function(){
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                $(this).parent().find('.active').each(function(){
                    $(this).removeClass('active');
                })
                $(this).addClass('active');
            };
            applyFilterStyles();
        });
        
        // Show based on Query Params
        var supportedQueries = [
                "geo",
                "place",
                "category",
                "campaign"
            ],
            ci = 0;
        for (var query in supportedQueries) {
            var qValue = queryRegExp(supportedQueries[query]);
            if (qValue !== 0) {
                $('.filterBtn[tagid="' + qValue + '"]').addClass('active');
                ci++;
            };
        };
        if (ci > 0) {
            applyFilterStyles();
        } else {
            updateVisibleCount();
        };
        
        // Asset Listing Accordian
        
        
    });
</script>