<div id="assetsContainer">
    {{#each onsite.assets}}
    {{#if this.isperformance}}
    <div class="assetListing con" asset-id= "{{@key}}"asset-tags="{{#each this.tags}}:{{this}}{{/each}}">
        <div class="assetTopWrap">
            <a class="assetDisplayUrl" href="{{this.displayUrl}}" target="_blank">{{this.displayUrl}}</a>
            <h4 class="assetNameTarget accordionBtn" accordion-tag="{{@key}}">{{uppercase this.geo}} {{nameFromId this.place ../onsite.places}} &mdash; {{targetNames this.targets ../onsite.targets}}</h4>
        </div>
        <div class="assetDetails accordionContent" accordion-tag="{{@key}}">
            <div class="assetDetailContainer">
                <span class="containedName">Analytics Page Name: </span>
                <span class="containedValue">{{this.omniturePageName}}</span>
            </div>
            <div class="assetDetailContainer">
                <span class="containedName">{{nameFromId this.accessTool ../onsite.accessTools}}: </span>
                <span class="containedValue">{{this.accessPath}}</span>
            </div>
            <div class="assetDetailContainer targeting">
                <h6>Targeting </h6><button class="targetingLayoutChange"></button>
                {{{expressTargetElements this.targets ../onsite.targets}}}
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>